schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:d="duell"
           targetNamespace="duell"
           elementFormDefault="qualified">

    <xs:include schemaLocation="https://raw.githubusercontent.com/gameduell/duell/master/schema/common_schema.xsd" />

    <xs:complexType name="checkstyle">
        <xs:all>
            <xs:element name="config" minOccurs="0" maxOccurs="1" type="d:Path"/>
            <xs:element name="output" minOccurs="0" maxOccurs="1" type="d:Path"/>
        </xs:all>
    </xs:complexType>

</xs:schema>
